@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f5fef7;
  --color-text: #011804;
  --color-primary: #066b13;
  --color-secondary: #e7feea;
  --color-idan: #078317;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: var(--color-bg-variant);
}
